@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

:root {
    --light-gray: #545159;
    --gray: #323440;
    --red: #F24738;
    --light-red: #F26052;
    --pink: #F5D8D5;
    --black: #0D0D0D;
    --white: #FFF;
    --transparent: rgba(0,0,0,0.6);
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    color: var(--gray);
    text-decoration: none;
}

textarea,
input.text,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    line-height: 1.5;
    color: var(--gray);
    background: var(--pink);
    height:100%;
    min-height:100%;
}

body {
    display: flex;
    flex-direction: column;
  }

.header {
    background: var(--white);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 0 -10px;
    color: var(--light-red);
}

.logo-image {
    margin-right: 1em;
}

.logo-text {
    font-family: 'Caveat';
    font-size: 2em;
    font-weight: bold;
}

.navigation ul {
    margin: 1.4em 0 0;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation a {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--light-gray);
    text-decoration: none;
    display: inline-block;
    padding: .5em 1.5em;
}

.main {
    overflow-y: scroll;
    display: flex;
    flex-grow: 1;
}

.main-wrapper {
    width: 600px;
    max-width: 100%;
    padding: 20px 25px;
    margin: 0 auto;
}

.weekly-menu-list {
    display: grid;
    grid-row-gap: 0.6em;
    margin-top: 14px;
}

.weekly-menu-list li{
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px var(--white) solid;
    background: var(--white);
    padding: 8px 12px;;
}

.menu-day {
    flex-basis: 5em;
    flex-shrink: 0;
    font-size: 1.2em;
    margin-right: 1em;
}

.menu-meal {
    font-size: 1.05em;
}

@media (min-width:600px) {
    .header-wrapper {
        justify-content: space-between;
    }

    body {
        font-size: 1em;
    }
}

.btn-default {
    color: var(--white);
    font-size: 1.05em;
    border-radius: 8px;
    background-color: var(--red);
    padding: 10px 20px;
    border-width: 0;
    width: 100%;
    margin-left: 8px;
}

.btn-default:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--light-red);
}

.btn-default:first-child {
    margin-left: 0px;
}

.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--transparent);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.modal-wrapper {
    width: 400px;
    max-width: 100%;
    height: 300px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.modal-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

.close {
    color: var(--gray);
    font-size: 1.8em;
}

.close:hover {
    color: var(--light-gray);
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 6px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 1.05em;
    resize: vertical;
    color: var(--gray);
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

.input-icon {
    width: 30px;
    margin-right: 10px;
}

.input-big-icon {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-element {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-element:last-child {
    margin-bottom: 0px;
}

.form-subelement {
    margin-bottom: 10px;
}

.form-subelement:last-child {
    margin-bottom: 0px;
}

.hidden {
    display: none;
}